%basic-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
}
$std-border: 2px solid black;

  
#match-finder {
  border: $std-border;
  p {
  width: 100%;
  text-align: center;
  }
  input {
  width: 10rem;
  display: block;
  margin: 0 auto; 
  text-align: center;
  }
  #member-opinions {
    @extend %basic-flex;
    border: $std-border;    
    width: 75%;
    height: 5rem;
    margin: 1rem auto;
    .member-opinion {
      @extend %basic-flex;
      border: $std-border;
      width: 10rem;
      .material-icons {
        margin:  0 0 .25rem;
        display: block;
        height: 1rem;
        font-size: 1.5rem;
        pointer-events: none;
      }
      p {
        pointer-events: none;
        display: block;
        width: auto;
      }
    }
  }
  button#categorize-food {
    display: block;
    margin: 1rem auto;
  }
}

#member-section {
  @extend %basic-flex;
  border: $std-border;
  width: 80%;
  margin: 0 auto;
  .member-profile {
    border: $std-border;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    p, button {
      display: inline;
    }
    .food-opinion {
    }
  }

}

.unknown {
  background-color: #555;
  color: white;
}
.like {
  background-color: #21D578;
  color: white;
}
.okay {
  background-color: #FCFF3B;
  color: black;
}
.dislike {
  background-color: #DF2020;
  color: white;
}

.material-icons {
}
